@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

.grid1 {
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, minmax(100px, auto));
    gap: 1rem;        

    
    /* quantas colunas, definidas com a largura de 100px */

    /*
        grid-template-rows: repeat(4, 100px);
 
    Quantidade de inhas configurads com a altura de 40px */

    
    /* 
        column-gap: 20px;

    Espaçamentos das colunas */
    
    /* 
        row-gap: 20px;
    
    Espaçamento das linhas */
    
    /* 
        gap: 5px;
    Shorttag */

    /* 
        grid-auto-rows: 100px;
    
    Para as linhas que no tiveram uma confirguração especifica l.7, definimos sua altura */

    /* 
        grid-auto-columns: 40px;

    Para as colunas que no tiveram uma confirguração especifica l.6, definimos sua largura */

}

.grid1 div {
    background-color: beige;
    background-color: royalblue;
    font-size: 2em;
    pad: 1rem;
}

.grid1 >div:nth-child(even){
    background-color: skyblue;
}

.grid1 div:nth-child(1){
    grid-column: 1 / -1;
    height: 300px;
}
.grid1 div:nth-child(3){
    grid-column: 2 / 5;
}

.grid1 div:nth-child(5){
    grid-column: 1 / 6;
}