@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
    font-family:fonte_texto ;
    src: url(pomoyan_sunrise/Pomoyan\ Sunrise.otf);
    font-size: 60px ;
}

:root {
    --texto-claro-: white;
    --texto-escuro: black;

    --font0: font-family: "Roboto Mono", serif;
    --font1: fonte_texto;

}

* {
    padding: 0px;
    margin: 0px;
}

html,
body {
    min-height: 100vh;
    background-color: darkgray;


}

header {
    background-color: var(--texto-escuro);
    text-align: center;
    font: var(--font0);

}

header>h1 {
    padding-top: 50px;
    color: var(--texto-claro-);
    font-size: 37px;
}

header>p {
    padding-bottom: 50px;
    color: var(--texto-claro-);

}

header>p>a {
    color: var(--texto-claro-);
    text-decoration: none;
    font-weight: bolder;
}

header>p>a:hover {
    text-decoration: underline;
}

footer {
    background-color: var(--texto-escuro);
    color: var(--texto-claro-);
    text-align: center;
    font: var(--font0);
}

footer>p>a {
    text-decoration: none;
    color: var(--texto-claro-);
    font-weight: bold;
}

footer>p>a:hover {
    text-decoration: underline;

}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font1);
}

section.branco {
    background-color: var(--texto-claro-);
}

section.imagem {
    color: var(--texto-claro-);
    background-color: var(--texto-escuro);
}