@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url(imagens/pexels-markusspiske-1089438.jpg) no-repeat;
    

    display: flex;
    justify-content: center;
    height: 100vh;
}

main{ 
    
    width:70vw;
    height: 70vh;
    margin: auto;
    background-color: rgb(25, 25, 107);
    flex-direction: column;
    justify-content: space-between;

    border-radius: 5px;
   
}

header{
    width: 100%;
    height: 40%;
    overflow: hidden;
    background-color: black;
    position: relative;
    border-radius: 5px;
    
}

header img{

    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


