@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --royalblue: #017092;
    --white: #ffffff;
    --gaismoro: #b3b8cd;
    --darkslateblue: #292343;
    --darkgray: #014e4d;   
}

body{
    background-image: url(imagens/pexels-markusspiske-1089438.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.container{
    margin: 100px auto;
    background-color: var(--royalblue);
    border-radius: 6px;
    width: 360px;
    text-align: center;
    box-shadow: 7px 5px 10px rgba(255, 255, 255, 0.5);
}

.bg-capa{
    background: url(imagens/pexels-luis-gomes-166706-546819.jpg);
    background-size: cover;
    background-position: center;
    height: 160px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;

}


