@charset "UTF-8";

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header{
    height: 80px;
    background-color: rgb(0, 136, 255);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px;
}

.lista_links{
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    background-color: antiquewhite;
    padding: 0px;
    border-radius: 10px;
    
& a{
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;

}
}
a:hover{
       background-color: azure;
    }


main{
    height: 1200px;
}

.conteudo_principal{
    height: 100vh;
    background: url(parede_cidade.jpg) no-repeat center;
    background-size: cover;
    background-position: fixed;
}

footer{
    height: 50px;
    background-color: rgb(183, 0, 255);
}


