@charset "UTf-8";

@font-face {
    font-family: titulo;
    src: url(Fontes/cherry/Cherry\ Monospace-Light.ttf);
}

@font-face {
    font-family: subtitulo;
    src: url(Fontes/old_constructed_caps/OldConstructedCaps.ttf);
}

:root {

    --marrom_quente: #59452C;
    --marrom_cinza: #998771;
    --marrom_claro: #D9C6B0;
    --azul_forte: #2C4A59;
    --azul_claro: #8FA4AE;

    --branco: #ffffff;
    --preto: #000;
    --offwhite: #dbd6c9;

    --fundo: rgba(255, 255, 255, 0.433);

}

* {

    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;

}

header {

    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: var(--offwhite);

}

header div {

    background-color: var(--branco);

    width: 100%;
    padding: 10px;
    text-align: center;

    border-radius: 9px;
}

header h1 {
    text-align: center;
    padding-top: 20px;
    font-family: titulo;
    font-size: 2rem
}


nav ul {
    display: flex;
    list-style: none;
    font-size: 1.1rem;
    justify-content: center;
    justify-content: space-between;
    padding: 20px;
    height: 20px;

}

nav ul a {
    padding: 8px 17px 7px 17px;
    background-color: var(--branco);
    color: var(--marrom_quente);
    font-weight: 800;
    border-radius: 8px 8px 0px 0px;
    transition: background-color 0.6s;
}

nav ul a:hover {
    color: var(--marrom_claro);
    background-color: var(--marrom_cinza);
    border-bottom: 3px solid var(--marrom_quente);
}


section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(imagens/pexels-minan_750.jpg) no-repeat;
    background-size: cover;
    position: relative;

}

section h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    color: var(--branco);
    background-color: var(--fundo);
    
    padding:20px;
    font-size: 2rem;
    text-align: center;

    width: 100%;

    font-family: subtitulo;
    color: var(--preto);

}

section p{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--branco);
    font-size: 1.2rem;
    text-align: center;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.500) ;
    border-radius: 8px;
    padding: 8px;
    font-family: titulo;
    font-weight: 800;
    font-size: 1rem;
    color: var(--offwhite);
}

footer{
    background-color: var(--offwhite);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer nav a img{
    width: 50px;
    height: 50px;
    padding: 5px;
}


@media screen {
    
}